<footer>
    <div class="social-icons">
      <a href="https://www.facebook.com/marketplace/106131089425961/?hoisted_items=326659096901957"><i class="fab fa-facebook fa-sm"></i></a>
      <a href="https://www.instagram.com/myl_accesorios_motos/"><i class="fab fa-instagram fa-sm"></i></a>
      <a href="https://twitter.com/home"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://wa.link/go8l72"><i class="fab fa-whatsapp fa-sm"></i></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="">Noticias</a></li>
        <li><a href="">Descubre</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </footer>
